<!DOCTYPE html>
<html lang="zh-CN" ng-app="diskanalysis" ng-controller="MainController as vm">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>硬盘分析</title>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="./main.js"></script>
    <script src="node_modules/d3/build/d3.js"></script>
    <script src="node_modules/nvd3/build/nv.d3.js"></script>
    <script src="node_modules/angular-nvd3/dist/angular-nvd3.js"></script>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="node_modules/nvd3/build/nv.d3.css">
    <link href="./main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>硬盘文件分析</h1>
    </div>
    <ul class="list-group harddisk" ng-show="!vm.start">
        <li class="list-group-item" ng-repeat="disk in vm.disks track by $index">
            <img src="./hard-disk.svg">
            <p>Description：{{disk.description}}</p>
            <p>Device：{{disk.device}}</p>
            <p>Size：{{disk.size / 1024 / 1024 / 1024 | number:0}} GB</p>
            <p>Mountpoints：{{disk.mountpoint}}</p>
            <input type="button" class="btn btn-primary btn-analysis" value="分析"
                   ng-disabled="!disk.mountpoint" ng-click="vm.analysis(disk)">
            <ul class="list-group mountpoint">
                <li class="list-group-item" ng-repeat="disk in disk.disks">
                    <img src="./mountpoint.svg">
                    <p>Mountpoint: {{disk.mounted}}</p>
                    <p>UsedSpace: {{disk.usedSpace / 1024 / 1024  | number:0}} MB</p>
                    <p>AvailableSpace: {{disk.availableSpace / 1024 / 1024 | number:0}} MB</p>
                    <input type="button" class="btn btn-primary btn-analysis" value="分析"
                           ng-disabled="!disk.mountpoint" ng-click="vm.analysis(disk)">
                </li>
            </ul>
        </li>
    </ul>
    <div class="loading" ng-show="vm.start">
        <div class="loading-header">
            <h2>正在分析中</h2>
        </div>
        <div class="loading-content">
            <uib-progressbar max="vm.max" value="vm.current">
                <span style="color:white; white-space:nowrap;">Analysing...</span>
            </uib-progressbar>
            <small>{{vm.currentFile}}</small>
        </div>
    </div>
    <script type="text/ng-template" id="nodes_renderer.html">
        <div ng-click="vm.detail(stat)">
            <img src="./images/folder.svg" ng-if="stat.isDirectory() && !stat.more">
            <img src="./images/folder-open.svg" ng-if="stat.isDirectory() && stat.more">
            <img src="./images/file.svg" ng-if="stat.isFile()">
            {{stat.name}}
        </div>
        <ol ng-if="stat.more">
            <li ng-repeat="stat in stat.folder" ng-include="'nodes_renderer.html'"></li>
            <li ng-repeat="stat in stat.file" ng-include="'nodes_renderer.html'"></li>
        </ol>
    </script>
    <nvd3 options="vm.options" data="vm.data"></nvd3>
    <div class="row" ng-if="vm.finish" ng-init="vm.detail(vm.root)">
        <div class="col-md-12">
            <nvd3 options="vm.options" data="vm.data"></nvd3>
        </div>
        <div class="root col-md-8">
            <ol class="root-tree">
                <li ng-repeat="stat in vm.root.folder" ng-include="'nodes_renderer.html'"></li>
                <li ng-repeat="stat in vm.root.file" ng-include="'nodes_renderer.html'"></li>
            </ol>
        </div>
        <div class="root detail col-md-4">
            <p><span>Name: </span>{{vm.stat.name}}</p>
            <p><span>Size: </span>{{vm.stat.size}} KB</p>
            <p><span>FileCount: </span>{{vm.stat.fileCount}}</p>
            <p><span>FolderCount: </span>{{vm.stat.folderCount}}</p>
            <p><span>Atime:</span>{{vm.stat.atime}}</p>
            <p><span>Mtime:</span>{{vm.stat.mtime}}</p>
            <p><span>Ctime:</span>{{vm.stat.ctime}}</p>
            <p><span>Birthtime:</span>{{vm.stat.birthtime}}</p>
        </div>
    </div>
</div>
</body>
</html>
