<!DOCTYPE html>
<html lang="zh-CN" ng-app="diskanalysis" ng-controller="MainController as vm">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>硬盘分析</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./main.css" rel="stylesheet">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="./main.js"></script>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>硬盘文件分析</h1>
    </div>
    <ul class="list-group harddisk" ng-show="!vm.start">
        <li class="list-group-item" ng-repeat="disk in vm.disks track by $index">
            <img src="./hard-disk.svg">
            <p>Description：{{disk.description}}</p>
            <p>Device：{{disk.device}}</p>
            <p>Size：{{disk.size / 1024 / 1024 / 1024 | number:0}} GB</p>
            <p>Mountpoints：{{disk.mountpoint}}</p>
            <input type="button" class="btn btn-primary btn-analysis" value="分析"
                   ng-disabled="!disk.mountpoint" ng-click="vm.analysis(disk)">
            <ul class="list-group mountpoint">
                <li class="list-group-item" ng-repeat="disk in disk.disks">
                    <img src="./mountpoint.svg">
                    <p>Mountpoint: {{disk.mounted}}</p>
                    <p>UsedSpace: {{disk.usedSpace / 1024 / 1024  | number:0}} MB</p>
                    <p>AvailableSpace: {{disk.availableSpace / 1024 / 1024 | number:0}} MB</p>
                    <input type="button" class="btn btn-primary btn-analysis" value="分析"
                           ng-disabled="!disk.mountpoint" ng-click="vm.analysis(disk)">
                </li>
            </ul>
        </li>
    </ul>
    <div class="loading" ng-show="vm.start">
        <div class="loading-header">
            <h2>正在分析中</h2>
        </div>
        <div class="loading-content">
            <uib-progressbar max="vm.max" value="vm.current">
                <span style="color:white; white-space:nowrap;">Analysing...</span>
            </uib-progressbar>
            <small>{{vm.currentFile}}</small>
        </div>
    </div>
</div>
</body>
</html>
