body {
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    color: #555;
}
p, ul, li{
    margin-bottom: 0;
    border-radius: 0 !important;
}
li img {
    height: 80px;
    float: left;
    margin: 0 10px;
    position: relative;
}
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    background-color: white;
}
.btn-analysis {
    position: absolute;
    height: 36px;
    width: 60px;
    right: 20px;
    top: 30px;
}
.harddisk {
    border: 0;
    position: relative;
}
.harddisk li {
    border: 1px solid #ddd;
}
.harddisk li:hover {
    background-color: #f4f4f4;
}
.loading {
    font-size: 14px;
    padding: 10px 20px;
    border: 1px solid #eee;
}
.loading-header {
    text-align: center;
}
.loading-content {
    margin-bottom: 20px;
}
.loading-content .progress {
    margin-top: 20px;
    margin-bottom: 5px;
}
.loading-content small {
    text-align: center;
    word-break: break-all;
    display: block;
}
.root {
    margin: 10px 0;
}
.root ol,
.root li {
    padding-left: 10px;
    list-style: none;
}
.root ol:first-child {
    padding: 10px;
}
.root img {
    height: 18px;
    padding: 1px;
    margin: 0 5px 0 0;
}
.root-tree,
.detail {
    border: 1px solid #eee;
    padding: 10px;
}
.root-tree {
    max-height: 595px;
    overflow-y: auto;
    padding-left: 0 !important;
    white-space: nowrap;
}
.detail {
    padding: 10px;
    margin: 5px 15px;
}
.detail span {
    color: #4CAF50;
    font-weight: bold;
    padding-right: 5px;
}
.detail p {
    width: 25%;
}
.detail p:first-child {
    white-space: pre;
    overflow: hidden;
    text-emphasis: dot;
}
.detail p,
.detail span{
    line-height: 1.8;
    float: left;
}
.page-header {
    margin: 10px 0 0 10px;
}