p, ul, li{
    margin-bottom: 0;
    border-radius: 0 !important;
}
li img {
    height: 80px;
    float: left;
    margin: 0 10px;
    position: relative;
}
.btn-analysis {
    position: absolute;
    height: 36px;
    width: 60px;
    right: 20px;
    top: 40px;
}
.harddisk {
    border: 0;
    position: relative;
}
.harddisk li {
    border: 1px solid #ddd;
    margin: 10px 0 20px 0;
    padding: 20px 0 0 0;
}
.harddisk li:hover {
    background-color: #f4f4f4;
}
.mountpoint {
    margin: 20px 0 0;
    border: 0;
}
.mountpoint li {
    background-color: #fff;
    padding: 15px;
    border: 0;
    margin: 0;
    border-top: 1px solid #ddd;
}
.mountpoint li:hover {
    background-color: #f4f4f4;
}
.mountpoint .btn-analysis {
    top: 26px;
}
.mountpoint img{
    height: 60px;
    margin: 0 10px 0 80px;
}
.loading {
    font-size: 14px;
    padding: 10px 20px;
    border: 1px solid #eee;
}
.loading-header {
    text-align: center;
}
.loading-content {
    margin-bottom: 20px;
}
.loading-content .progress {
    margin-top: 20px;
    margin-bottom: 5px;
}
.loading-content small {
    text-align: center;
    word-break: break-all;
    display: block;
}